body, html { margin: 0; font-family: 'Lato', sans-serif; font-weight: 400; width: 100%; color: #333; font-size: 18px; line-height: 26px; }
section, section div, nav div { float: left; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #d3d3d3; margin: 1em 0; padding: 0; }
.row-normal { width: 100%; margin: 15px 0; }
.row-normal div:first-of-type { width: 25%; text-align: right; }
.row-normal div:first-of-type span { margin-right: 15px; }
.row-normal div:last-of-type { width: 75%; text-align: left; }
pre { margin: 40px 0; font-size: 12px; line-height: 18px; }
span.code { text-transform: italic; background: #ecf0f1; border-radius: 4px; border: solid 1px rgba(0,0,0,0.3); padding: 0px 10px 3px 10px; color: #e74c3c; }
span.bold { font-weight: 900; }
.col-xs-12 { width: 100%; }
.col-xs-6 { width: 50%; }
.container { max-width: 980px; margin: 0 auto; width: 100%; float: none; }
nav { border-bottom: solid 1px #e74c3c; float: left; position: fixed; background: #fff; z-index: 5; }
footer p span, nav h1 span { color: #e74c3c; }
nav figure { text-align: right; margin-right: 0; }
nav figure img { max-height: 30px; }
section, section h1, section h2, section h3 { width: 100%; }
section h1 { font-weight: 900; font-size: 36px; line-height: 42px; }

#s1 { margin-top: 100px; }
.easycounter { text-align: center; font-size: 72px; font-weight: 900; color: #e74c3c; width: 100%; line-height: 82px; margin: 0; margin-bottom: 15px; }
a { color: #e74c3c; text-decoration: none; transition: 0.2s ease; }
a:hover { color: #16a085; }

footer { width: 100%; border-top: solid 1px #e74c3c; float: left; background: #fff; z-index: 5; height: 30px; margin: 25px 0; text-align: center; }
footer p { font-weight: 900; }

.github-badge { position: fixed; right: 0; bottom: -6px; margin: 0; z-index: 100; }
.github-badge img { max-height: 100px; }

button {
  width: 150px;
  background: #e74c3c;
  color: #fff;
  font-size: 14px;
  line-height: 36px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  border: solid 1px #c0392b;
  border-radius: 4px;
  left: 50%;
  margin-left: -75px;
}

button:hover {
  background: #c0392b;
  border: solid 1px #e74c3c;
}

.box { height: 30px; background: #e74c3c; color: #fff; padding: 0 15px; }
.box.large { height: 90px; }
.example { width: 100%; float: left; }
.example .col { margin-top: 1rem; margin-bottom: 1rem; }
.example .row { background: #e3e3e3; }
